<%= button_to :new_task, new_task_path, method: :get, class: "btn btn-primary" %>

<table class="table">
  <tr>
    <th> </th>
    <th> <%= :title %> </th>
    <th> <%= :description %> </th>
  </tr>
  <% tasks.each do |t| %>
    <tr>
      <td>
        <% unless t.completed_at %>
        <input class="form-check-input checkbox" type="checkbox" value="" data-id=<%= t.id %> />
        <% else %>
        <input class="form-check-input checkbox" type="checkbox" value="true" checked disabled />
        <% end %>
      </td>
      <td><%= t.title_with_timer %></td>
      <td><%= t.description %></td>
    </tr>
  <% end %>
</table>

<script>
  $(document).ready(function() {
    $('.checkbox').change(function() {
      id = this.dataset.id
      mydata = {checked: this.checked}
      $.ajax({
        type: "PATCH",
        url: "/toggle/" + id + "/task",
        data: mydata,
      });
    });
  });
</script>