<!DOCTYPE html>
<html>
  <head>
    <title>Organizer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <span class="navbar-text">
         <%= current_user.username %>
      </span>
    </div>
  </nav>
  <body>
    <%= yield %>
  </body>
</html>
